<html>

<head>
    <title>Heroku Demo</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    {{#if login}}
    <h3>Login</h3>
    <form action="./login" method="POST">
        <label>Email</label><br><br>
        <input placeholder="Enter Username" name="email"><br><br>
        <label>Password</label><br><br>
        <input placeholder="Enter Password" name="pass"><br><br>
        <button class="um">Login</button><br><br>
    </form>
    <a href="/signup"><button>Signup</button></a>
    {{/if}}
    {{#if signup}}
    <h3>Register</h3>
    <form action="./signup" method="POST">
        <label>Enter Name</label><br><br>
        <input type="text" name="name"><br><br>
        <label>Email</label><br><br>
        <input placeholder="Enter Your email" name="email"><br><br>
        <label>Password</label><br><br>
        <input placeholder="Enter new Password" name="pass"><br><br>
        <label>Re-Enter Password</label><br><br>
        <input placeholder="Enter Password again"><br><br>
        <button class="um">Sign-Up</button>
    </form>
    {{/if}}
    <p>{{message}}</p>
</body>

</html>