body{
    text-align: center;
    font-size: 20px;
    background-color: rgb(224, 241, 247);
}
form{
    padding: 10px;
    background-color: rgb(219, 221, 223);
}
button{
    font-size: 20px;
    padding: 2px;
    background-color: cornflowerblue;
    color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
    border: 0ch;
}
h3{
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(142, 189, 190);
    padding: 10px;
}
input{
    padding: 5px;
    border-radius: 5px;
    border: 0ch;
}
h1{
    padding: 20px;
    background-color: rgb(204, 205, 253);
    
}